/* 와이드 pc */
.videoBox { width:100%; height:100%; overflow:hidden; position:absolute } 
#imgBG { position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
 left:50%; top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
 width:auto; min-width:100%; /*동영상 너비를 꽉차게*/
 height:auto; min-height:100%; /*동영상 높이를 꽉차게*/
 transform:translateX(-50%) translateY(-50%); z-index:-100; } 

#content { width:100%; margin:0; position: relative; } 
section { max-width: 2000px; margin: 0 auto; padding: 100px; background: rgba(255,255,255,.7); } 
section h4 { display: inline-block; font-size: 2.5rem; color: #333; text-transform: uppercase; position: relative; font-family: "jejuhallasan"; margin-bottom: 25px; } 
section h4::after { content: ''; display: block; width: 0; height: 5px; position: absolute; left: 0%; bottom: -20%; background: none repeat scroll 0 0 transparent; background: #ed8b2f; transition: width 0.4s ease 0s; } 
section:hover h4::after { content: ''; width: 100%; height: 5px; background: #ed8b2f; position: absolute; left: 0; bottom: -20%; } 
section.dark { background: rgba(0, 0, 0, .9); } 
section.dark h4 { color: #fff; } 
section.dark .sub_tit { color: #ccc; } 

/* sub04 - media */
.music_box { display: flex; justify-content: space-around; align-items: center; gap: 2%; margin: 50px 0; } 
.music_box .left { width: 50%; position: relative; border-radius: 20%; display: flex; justify-content: center; align-items: center; background: #fff; padding: 30px 100px; display: flex; flex-direction: column; gap: 15px; } 
.music_box .left img { width: 100%; } 
.music_box .left .audio_control .playerControler { background:#ccc; width: 150px; height: 40px; border-radius: 20px; display: flex; justify-content: space-evenly; align-items: center; } 
.music_box .left .audio_control .playerControler i { font-size: 1.3em; color: #333; background:none; cursor: pointer; display: block; float: left; display: block; float: left; padding:10px; } 

.music_box .right { border-bottom:1px solid #ddd; width: 50%; } 
.music_box .right ul { margin:0; padding:0; list-style:none; border-radius: 20px; overflow: hidden; } 
.music_box .right .q { margin:0; border-top:1px solid #ddd; position: relative; } 
.music_box .right .q a::before { font-family:FontAwesome; content:"\f001"; display: block; color: #999; } 
.music_box .right li.show a::before { color: #333; padding: 10px; border-radius: 50%; background: #fff; } 
.music_box .right .q a.trigger { display:flex; align-items: center; gap: 20px; padding:15px; background:#fff; color:#333; text-align:left; text-decoration:none; font-size: 26px; } 
.music_box .right .q a.trigger:hover, 
.music_box .right .q a.trigger:active,
.music_box .right li.show a.trigger { background:#ed8b2f; color:#000 } 
.music_box .right .q span { display: block; position: absolute; right: 15px; top:50%; transform: translateY(-50%); font-size: 24px; } 
.music_box .right .a { padding: 30px; display: none; } 
.music_box .right .a dt { color: #333; font-size: 24px; margin-bottom: 10px; } 
.music_box .right .a dd { color: #333; margin-bottom: 30px; } 

.video_box { margin: 100px 0; } 
.dark .video_box .swiper-slide p { color: #fff; } 
.video_box .swiper-wrapper { margin-bottom: 50px; display: flex; flex-wrap: wrap; flex-direction: initial; gap: 2%; } 
.video_box .swiper-slide { display: none; width: 32%; margin-bottom: 30px; } 
.video_box .swiper-slide img { display: block; width: 100%; height: 17vw; object-fit: cover; max-height: 360px;} 
.video_box .swiper-slide p { font-family: "jejuhallasan"; font-size: 1.5rem; margin: 15px 0; font-weight: 700; text-align: center; } 
.video_box .imgPart { position: relative; cursor: pointer; border-radius: 20px; overflow: hidden; box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .3); transition: all .5s ease-in-out; } 
.video_box .playBnt { position: absolute; left: 50%; top: 50%; width: 110px; height: 110px; border-radius: 50%; background: rgba(0,0,0,.6); transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; } 
.video_box .imgPart:hover { transform: scale(1.05); } 
.video_box .imgPart:hover .playBnt { background: rgba(255,0,0,.6) } 
.video_box .playBnt img { width: 35%; height: 40%; margin-left: 10px; } 

.btn_more { background: #ed8b2f; padding: 10px; border-radius: 30px; width: 150px; margin: 0 auto; font-size: 1.2rem; color: #fff; text-align: center; cursor: pointer; transition: all .2s ease-in-out;} 
.btn_more:hover {transform: translateY(-5px);} 

/* 일반 pc */
@media screen and (max-width:1280px) { 
  section { padding: 100px 50px; } 

  .music_box .left { padding: 30px; } 
  .music_box .right { width: 90%; } 
  .music_box .right .q a.trigger { font-size: 1.3rem; } 
  .music_box .right .a dt { font-size: 1.2rem; } 
  .music_box .right .a dd { font-size: 1rem; } 
 }


/* 테블릿 */
@media screen and (max-width:1024px) { 
  section h4::after { width: 100%; } 

  .music_box { flex-direction: column; gap: 50px; } 
  .music_box .left { width: initial; } 
  .music_box .left img { width: 90%; } 
  .music_box .left .audio_control .playerControler { width: 300px; height: 50px; } 
  .music_box .right { width: 100%; } 

  
  .video_box .swiper-slide {width: 49%;}
  .video_box .swiper-slide img {height: 25vw;}
  .video_box .playBnt img {height: 40%;}
  .video_box .imgPart .playBnt { background: rgba(255,0,0,.6); } 
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  section { padding: 100px 10px; } 
} 

/* 모바일 */
@media screen and (max-width:640px){
#wrap { min-width:320px; } 
section {padding: 50px 20px;}

 .music_box .right li.show a::before { font-size: 1rem; padding: 5px 10px; } 
 .music_box .right .q a.trigger { font-size: 1rem; } 
 .music_box .right .a { padding: 10px; } 
 .music_box .right .a dt { font-size: .9rem; margin-bottom: initial; } 
 .music_box .right .a dd { font-size: .7rem; } 
 .video_box { margin: 30px 0; } 
 .video_box .swiper-slide {width: 100%;}
 .video_box .swiper-slide img {height: 50vw;}
 .video_box .swiper-slide p { font-size: 1rem; } 
 .video_box .imgPart .playBnt { width: 60px; height: 60px; } 
 .video_box .playBnt img { margin-left: 5px; height: 40%;} 
 .btn_more {font-size: 1rem; width: 120px;}
 }